#app .playlist-track {
	display: flex;
	position: relative;
}

#app .playlist-content {
	width: 80%;
	color: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

#app .playlist-close {
	position: absolute;
	top: 10px;
	right: 10px;

	color: black;
}